body {
    padding-top: 70px;
}

label {
  display: block;
  margin-bottom: 0px;

}

.marginBottom {
    margin-bottom: 10px;
    display: inline-block;
}

.glyph-white, .glyph-white a {
    color: #fff;
}

.event-item {
    word-wrap: break-word;
}

.nav-tabs > li > a{
    color: #e67d39;
}

li.list-group-item {
    padding: 0;
    border: 0;
}

.table-condensed > tbody > tr > th {
    padding: 2px;
    vertical-align: middle;
    background-color: #f5f5f5;
    text-align: center;
}
.table-condensed > tbody > tr > td {
    padding: 2px;
    text-align: center;
}

hr {
    margin-top : 0;
}

#xuc_restart {
    margin-bottom: 5px;
}

.form-control.fill {
    width: 100%;
}

.btn-custom {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-success-custom {
    background-image: -webkit-linear-gradient(top, #5cb85c 0, #419641 100%);
    background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #3e8f3e
}

.btn-success-custom:hover,
.btn-success-custom:focus {
    background-color: #419641;
    background-position: 0 -15px
}

.btn-success-custom:active {
    background-color: #419641;
    border-color: #3e8f3e
}

.btn-success-custom {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success-custom:hover,
.btn-success-custom:focus,
.open .dropdown-toggle.btn-success-custom {
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
}
.open .dropdown-toggle.btn-success-custom {
    background-image: none;
}
.btn-success-custom.disabled,
.btn-success-custom[disabled],
fieldset[disabled] .btn-success-custom,
.btn-success-custom.disabled:hover,
.btn-success-custom[disabled]:hover,
fieldset[disabled] .btn-success-custom:hover,
.btn-success-custom.disabled:focus,
.btn-success-custom[disabled]:focus,
fieldset[disabled] .btn-success-custom:focus,
fieldset[disabled] .btn-success-custom.active {
    background-color: #FFFF00;
    border-color: #4cae4c;
}
.btn-success-custom.badge {
    color: #5cb85c;
    background-color: #fff;
}

.entry:not(:first-of-type) {
    margin-top: 10px;
}