@icon-font-path:  "/configmgt/assets/dist/bootstrap/fonts/";

@brand-primary: rgb(88, 82, 79);
@brand-success: rgb(231, 125, 57);
@brand-info: rgb(169, 162, 158);
@line-height-large: 1.33;
@input-border-focus: rgb(169, 162, 158);
@zindex-modal: 1040;
@navbar-inverse-bg: rgb(44, 41, 39);
@nav-tabs-border-color: rgb(199, 190, 189);
@nav-tabs-active-link-hover-border-color: rgb(199, 190, 189);
@nav-tabs-justified-link-border-color: rgb(199, 190, 189);
@state-success-text: rgb(88, 82, 79);
@state-info-text: rgb(79, 73, 70);
@state-info-bg: rgb(215, 210, 208);

