.center {
    margin-left: 10%;
    width: 20%;
}

nav ul {
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

.modal-dialog {
    width: 700px;
}

.top-buffer {
    margin-top: 70px;
}

.panel {
    margin-top: 10px;
}

span.navbar-brand a {
    color: white;
}

.loginlogo {
    width: 200px;
    height: 100px;
}

.nostrong {
  font-weight: normal;
}
