@(title: String)(implicit request: Request[_], i18nMessages: Messages)
<!DOCTYPE html>
<html ng-app="callbacks">
@head(title)
<body data-preferredlang="@i18nMessages.lang.language">
<script src="@routes.Assets.versioned("dist/javascripts/app.js")" type="text/javascript"></script>
<script type="text/ng-template" id="callbackListModal.html">
    @callbackListModal()
</script>
<script type="text/ng-template" id="callbackPeriodModal.html">
    @callbackPeriodModal()
</script>
@navigation_bar()
<div class="container-fluid top-buffer" ng-controller="CallbackViewController">
    <div class="menuView btn-group">
        <button type="button" ng-class="{active : isActive('callback_lists')}" class="btn btn-default" ng-click="setView('callback_lists')">
            {{'CALLBACK_LIST_TITLE' | translate}}
        </button>
        <button type="button" ng-class="{active : isActive('callback_periods')}" class="btn btn-default" ng-click="setView('callback_periods')">
            {{'CALLBACK_PERIOD_TITLE' | translate}}
        </button>
    </div>
    <div class="panel panel-default top-margin" ng-if="isActive('callback_lists')" ng-controller="CallbackListsController">
        <button type="button" class="btn btn-primary" ng-click="createList()" title="{{'ADD' | translate}}">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>{{'CALLBACK_LIST_NAME' | translate}}</th><th>{{'CALLBACK_LIST_QUEUE' | translate}}</th><th>{{'CALLBACK_LIST_NUMBER' | translate}}</th><th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="l in callbackLists|orderBy: 'name'">
                <td>{{l.name}}</td>
                <td>{{l.queue.displayName}} ({{l.queue.name}})</td>
                <td>{{l.callbacks.length}}</td>
                <td>
                    <button type="button" class="btn btn-danger" ng-click="deleteList(l.uuid)" title="{{'DELETE' | translate}}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-default top-margin" ng-if="isActive('callback_periods')" ng-controller="CallbackPeriodsController">
        <button type="button" class="btn btn-primary" ng-click="createPeriod()" title="{{'ADD' | translate}}">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>{{'CALLBACK_PERIOD_NAME' | translate}}</th><th>{{'CALLBACK_PERIOD_START' | translate}}</th><th>{{'CALLBACK_PERIOD_END' | translate}}</th><th></th><th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in callbackPeriods|orderBy: 'name'">
                <td>{{p.name}}</td>
                <td>{{p.periodStart}}</td>
                <td>{{p.periodEnd}}</td>
                <td><span class="glyphicon glyphicon-ok" ng-if="p.default" title="{{'CALLBACK_PERIOD_DEFAULT' | translate}}"></span></td>
                <td>
                    <button type="button" class="btn btn-success" ng-click="editPeriod(p.uuid)" title="{{'EDIT' | translate}}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>&nbsp;
                    <button type="button" class="btn btn-danger" ng-click="deletePeriod(p.uuid)" ng-if="!p.default" title="{{'DELETE' | translate}}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
@logofooter()
</body>
</html>
