@(title: String)
<head lang="fr">
    <meta charset="UTF-8"/>
    <title>@title</title>
    <script src="@routes.Assets.versioned("dist/javascripts/vendor.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("dist/stylesheets/bootstrap.css")"/>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/rights.css")"/>
</head>
