<span class="pull-right">
        <a href="https://xivo.solutions"><img src="@routes.Assets.versioned("images/Xivo.png")" height="15" width="33"> by Avencall </a>
        @(" - %s " format (server.info.BuildInfo.version))&nbsp;
        <p></p>
</span>
